.tabata-timer {
  text-align: center;
  background-color: #122;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tabata-timer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.time {
  font-size: 4rem;
  margin: 20px 0;
}

.controls {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controls button {
  background-color: #006128;
  color: #00e81b;
  font-size: 20px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border-width: 0px;
  cursor: pointer;
}

.controls button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.current-round {
  margin: 20px 0;
}

.current-round h2 {
  font-size: 1.5rem;
}
.current-round,
.total-workout-time {
  margin: 20px 0;
}

.current-round h2,
.total-workout-time h2 {
  font-size: 1.5rem;
}
#seconds-outlined fieldset {
  border-color: #fff !important;
}
#filled-number-label {
  color: #fff;
}
